<div>
    Imtahanlar
</div>

<p-table [value]="exams" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Dərsin kodu</th>
            <th>Şargirdin nömrəsi</th>
            <th>İmtahan tarixi</th>
            <th>Qiyməti</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
        <tr>
            <td>{{ exam.id }}</td>
            <td>{{ exam.lessonCode }}</td>
            <td>{{ exam.studentCode }}</td>
            <td>{{ formatDate(exam.date.seconds)}}</td>
            <td>{{ exam.grade }}</td>
        </tr>
    </ng-template>
</p-table>