<aside class="sidebar">
    <div class="sidebar-header">
        <img class="sidebar-logo" src="./assets/img/prosys_ltd__logo.jpeg" appImgFallback alt="sidebar-logo">
        <a routerLink="/">PROSYS</a>
    </div>
    <hr>
    <div class="sidebar-main">
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a routerLink="/lessons">Lessons</a>
                </li>
                <li>
                    <a routerLink="/students">Students</a>
                </li>
                <li>
                    <a routerLink="/exams">Exams</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>